/* Cafe24Ssurround */
@font-face {
    font-family: "Cafe24Ssurround";
    src:
        url("../font/Cafe24Ssurround-v2.0.woff2") format("woff2"),
        url("../font/Cafe24Ssurround-v2.0.woff") format("woff"),
        url("../font/Cafe24Ssurround-v2.0.ttf") format("truetype");
    font-style: normal;
}
/* Gmarket Sans - Light */
@font-face {
    font-family: "GmarketSans";
    src:
        url("../font/GmarketSansTTFLight.woff2") format("woff2"),
        url("../font/GmarketSansTTFLight.woff") format("woff"),
        url("../font/GmarketSansTTFLight.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* Gmarket Sans - Medium */
@font-face {
    font-family: "GmarketSans";
    src:
        url("../font/GmarketSansTTFMedium.woff2") format("woff2"),
        url("../font/GmarketSansTTFMedium.woff") format("woff"),
        url("../font/GmarketSansTTFMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* Gmarket Sans - Bold */
@font-face {
    font-family: "GmarketSans";
    src:
        url("../font/GmarketSansTTFBold.woff2") format("woff2"),
        url("../font/GmarketSansTTFBold.woff") format("woff"),
        url("../font/GmarketSansTTFBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}
