.header {
    background: var(--main-bg);
    width: 100%;
    height: 9rem;
    position: fixed;
    z-index: 990;
    top: 0;
    box-shadow: var(--shadow-01);
}

/* ===============================
PC 버전
=================================*/

.header .pc_nav {
    height: 100%;
}
.header .pc_nav .nav_inner {
    width: 100%;
    max-width: 140rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.header .pc_nav .nav_inner h1.logo {
}
.header .pc_nav .nav_inner h1.logo img {
    width: 10rem;
}

/* GNB */
/* navigation */
.header .pc_nav .nav_list {
    display: flex;
    justify-content: center;
    gap: 5rem;
    font-size: 1.8rem;
}
.header .pc_nav .nav_list > li {
}
.header .pc_nav .nav_list > li > a {
    padding: 1rem 2rem;
}
.header .pc_nav .nav_list > li > a:hover {
    color: var(--main-primary);
}

/* bnt */
.header .pc_nav .nav_inner .nav_bntBox {
    display: flex;
    gap: 0.8rem;
}
.header .pc_nav .nav_inner .nav_bnt {
    cursor: pointer;
    width: 10rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    border-radius: 20rem;
    font-size: 1.4rem;
    color: var(--main-bg);
    background: var(--main-primary);
    transition: all 0.3s ease;
}

.header .pc_nav .nav_inner .nav_bnt.brand_inquiry {
    height: 4rem;
    line-height: 4rem;
    color: var(--main-primary);
    background: var(--main-bg);
    border: 0.1rem solid var(--main-primary);
}

.header .pc_nav .nav_inner .nav_bnt:hover {
    background: var(--red-variant-01);
    color: var(--white);
    border: none;
}

/* navigation_ depth2 */
.header .pc_nav .nav_list .nav_list_subMenu {
    display: none;
    position: absolute;
    z-index: 911;
    top: 100%;
    padding-top: 3rem;
    /* display: flex; */
    flex-direction: column;
}
.header .pc_nav .nav_list li:last-child .nav_list_subMenu {
}
.header .pc_nav .nav_list .nav_list_subMenu li {
}
.header .pc_nav .nav_list .nav_list_subMenu li a {
    padding: 0.6rem 2rem;
    font-size: 1.5rem;
}

.header .pc_nav .nav_list .nav_list_subMenu li:hover a {
    color: var(--main-primary);
}

/* nav_background */
.header .pc_nav .nav_background {
    display: none;
    position: absolute;
    padding: 2rem;
    z-index: 910;
    top: 100%;
    width: 100%;
    background: url("../image/header_background_logo_red.png") no-repeat var(--main-bg);
    background-size: 20%;
    background-position: bottom right;
    border-top: 0.1rem solid var(--main-primary);
    box-shadow: var(--shadow-03);
    height: 26rem;
}

/* dim */
.header .dim {
    display: none;
    transition: height 0.5s ease;
}

/* ===============================
MB 버전
=================================*/
.header .mb_nav {
    display: none;
}
.header .mb_nav .nav_list {
}
.header .mb_nav .nav_list > li {
}
.header .mb_nav .nav_list > li > a {
}
