:root {
    /* color_main */
    --main-primary: #ca0611;
    --main-secondary: #55433c;
    --main-deepBase: #55433c;
    --main-support: #74090f;
    --main-natural: #959595;
    --main-white: #f8f8f8;

    /* color_side */
    --gray: #d9d9d9;
    --white: #fff;
    --cream: #fbf6f1;
}
