/* Cafe24Ssurround */
@font-face {
    font-family: "Cafe24Ssurround";
    src:
        url("../font/Cafe24Ssurround-v2.0.woff2") format("woff2"),
        url("../font/Cafe24Ssurround-v2.0.woff") format("woff"),
        url("../font/Cafe24Ssurround-v2.0.ttf") format("truetype");
    font-style: normal;
}

/* 넷마블 */
@font-face {
    font-family: "netmable";
    src:
        url("../font/netmarbleB.woff2") format("woff2"),
        url("../font/netmarbleB.woff") format("woff"),
        url("../font/netmarbleB.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "netmable";
    src:
        url("../font/netmarbleM.woff2") format("woff2"),
        url("../font/netmarbleM.woff") format("woff"),
        url("../font/netmarbleM.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "netmable";
    src:
        url("../font/netmarblel.woff2") format("woff2"),
        url("../font/netmarblel.woff") format("woff"),
        url("../font/netmarblel.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
